.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 3px 2px 21px -10px rgba(0, 0, 0, 0.75);
}
.Item.completed {
  filter: grayscale(1);
}

.Item__description {
  width: 80%;
  text-align: left;
  overflow-wrap: anywhere;
}
.Item.completed .Item__description {
  text-decoration: line-through;
}

.Item__button {
  padding: 0.1rem 0.2rem;
  border-radius: 100%;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.Item__button--check {
  margin-right: 2rem;
  margin-left: 1rem;
  border-color: #30eb0a;
}
.Item__button--check:hover {
  background-color: #b4e7aaa1;
}
.Item__button--check svg {
  color: #30eb0a;
}
.Item__button--close {
  margin-left: 2rem;
  margin-right: 1rem;
  border-color: #eb0a0a;
}
.Item__button--close:hover {
  background-color: #f3b8b8;
}
.Item__button--close svg {
  fill: #eb0a0a;
}
