.Search {
  margin-bottom: 2rem;
  padding: 10px;
  width: 65%;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
