.CreateTodoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 10px 30px;
  font-family: sans-serif;
  color: white;
  background-color: #6178ff;
  border: 1px solid #0024ff;
  border-radius: 6px;
  box-shadow: 3px 2px 21px -10px rgb(0 0 0 / 75%);
  cursor: pointer;
  transition: color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.CreateTodoButton:hover {
  color: rgb(5, 5, 143);
}

.CreateTodoButton svg {
  margin-left: 10px;
}
